.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-left {
  flex: 1;
  min-width: 300px;
  max-width: 50%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px 0px 0px 8px;
}
.highlight {
  color: #1c5c37;
}
.form-right {
  flex: 1;
  background-color: #D6FEE7;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; 
  border-radius: 0px 8px 8px 0px;
}

.form-right img {
  margin: 0 auto;
}
.titleFormRight{
  font-size: 40px;
}
.subtitleFormRight{
  font-size: 16;
  font-weight: 500;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
  .form-wrapper {
      flex-direction: column;
  }

  .form-left, 
  .form-right {
      max-width: 100%;
      margin-bottom: 20px;
  }

  .form-right {
      display: none; /* Esconde a parte direita em telas menores */
  }
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 16px;
}

.input_label {
  font-size: 14px;
  color: #8B8E98;
  font-weight: 500;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 5px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #8B8E98;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 16px;
}

.input_label {
  font-size: 14px;
  color: #8B8E98;
  font-weight: 500;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 5px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #1c5c37;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  width: 100%;
  background: #1c5c37;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

}

.lottie-translate {
  transform: translate(0, 10px);
  transition: all 0.3s ease-out;

}

.lottie-translate:hover {
  transform: translate(0);
  transition: all 0.6s ease-out;
  opacity: 1;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  opacity: 1;
  transition: all 0.6s ease-out;
}

.card.show {
  opacity: 1;
}

.card.hide {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.6s ease-out;
}

.card label {
  margin-top: 0;
  color: #333;
}

.card p {
  margin: 5px 0;
  color: #666;
}

.button-container {
  text-align: center;
  margin-top: 40px;
}

.button-container a {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
}

.button-container a:hover {
  background-color: #0056b3;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 5px 0;
}

.notification {
  position: fixed;
  bottom: 20px;
  left: calc(50% - 150px);
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-50%);
}

.notification.show {
  opacity: 1;
  z-index: 100;
  pointer-events: auto;
  transform: translateY(0);
}

.notification.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
}

.form-group {
  margin-bottom: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}



button:hover {
  background-color: #218838;
}